<table (click)="onClick()" style="width: 100%;cursor: pointer;table-layout: fixed;">
  <colgroup>
    <col style="width: fit-content; white-space: nowrap;" />
    <col style="width: auto;" />
  </colgroup>
  <tr>
    <th colspan="2" style="text-align: left;font-size: 18px;">{{ entityName }}</th>
  </tr>
  <tr *ngFor="let key of tableValues">
    <td *ngIf="key" class="tb-hl-content">{{ key.key }}</td>
    <td *ngIf="key" class="tb-hl-content">{{ key.value }}</td>
  </tr>
  <div style="height: auto"></div>
</table>

