:host {
  display: block;
  height: 100%;

  .example-table {
    height: 100%;

    .header {
      font-weight: 600;
      font-size: 1.2vw;
      //line-height: 36px;
      color: black;
    }
  }
}

.info-row {
  display: flex;
  align-items: center;
  //margin-bottom: 8px;

  .info-label {
    min-width: fit-content;
    font-size: 0.8vw;
    font-weight: 400;
    color: #555;
  }

  .badge {
    background: #f0f0f0;
    width: fit-content;
    border-radius: 6px;
    border: #d4d4d4 1px solid;
    //padding: 8px;
    display: inline-flex;
    align-items: center;
  }

  .badge-info {
    height: fit-content;
    padding: 4px 8px;
    font-size: 0.8vw;
    font-weight: bold;
  }

  &:last-child .badge-info {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 960px) {
  :host {
    .example-table {
      .header {
        font-size: 18px;
      }
    }
  }

  .info-row {
    .info-label {
      font-size: 12px;
    }
    .badge-info {
      height: 24px;
      font-size: 12px;
    }
  }
}
