<table style="width: 100%;">
  <tr>
    <th class="tb-hl-header" colspan="2" style="text-align: left;font-size: 1.5vw;font-weight: 600;">{{ title }}</th>
  </tr>
  <tr *ngFor="let item of tableValues | keyvalue">
    <td class="tb-hl-content">{{ item.key }}</td>
    <td>
      <a class="tb-hl-content" *ngIf="item.key === 'IP'" href="{{'http://'+item.value}}" title="Configure" target="_blank"
         rel="noreferrer noopener">
        {{ item.value }}
      </a>
      <span class="tb-hl-content" *ngIf="item.key !== 'IP'">{{ item.value }}</span>
    </td>
  </tr>
</table>

